@import "./abstracts/variables";
@import "./abstracts/mixins";

@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    @include respondTo('desktop') {
        font-size: 13.75px;

    }
    font-size: 13px;
    font-family: "Barlow Semi Condensed", sans-serif;
}

.user-details {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    &__img {
        width: 35px;
        border-radius: 50%;
        margin-right: 1.3rem;
        border: 2px solid $color-gray;
    }
    &__name {
        color: $color-secondary;
        font-size: 1.2rem;
        font-weight: 600;
    }
    &__description {
        color: rgba($color-secondary, .5);
        font-size: 1rem;
    }
    figcaption {
        display: flex;
        flex-flow: column;
    }
}
.testimonials-card {
    padding: 2rem 2rem;
    background-color: $color-white;
    color: $color-secondary;
    border-radius: 13px;
    box-shadow: 0 5px 10px rgba(#000, .25);
    position: relative;
    z-index: 1;
    svg {
        z-index: -1;
        position: absolute;
        top:0;
        right: 6%;
    }
}
.testimonials {
    display: grid;
    gap: 2rem;
    @include respondTo('desktop') {
        grid-template-columns: 1fr repeat(4, [col-start] minmax(auto, 275px) [col-end]) 1fr;
        grid-template-rows: 1fr repeat(2, [row-start] min-content [row-end]) 1fr;
        margin: 2rem 0;
    }
    margin: 2rem;
    &--title {
        font-size: 1.59rem;
        margin-bottom: 1rem;
    }
    &--text {
        color: rgba($color-secondary, .7);
        font-size: 1.04rem;
        line-height: 1.45;
        margin-bottom: 1rem;
        @include respondTo('desktop') {
            margin-bottom: 0;
        }
    }
}

.testimonials-card-primary {
    background-color: $color-primary;
    color: $color-gray;
    .user-details {
        &__img {
            border: 2px solid #9476c4;
        }
        &__name {
            color: $color-gray;
        }
        &__description {
            color: rgba($color-gray, .5);
        }
    }
    .testimonials--text {
        color: rgba($color-gray, .7);
    }
}

.testimonials-card-secondary {
    background-color: $color-secondary;
    color: $color-gray;
    .user-details {
        &__img {
            border: 2px solid $color-light-gray;
        }
        &__name {
            color: $color-gray;
        }
        &__description {
            color: rgba($color-gray, .5);
        }
    }
    .testimonials--text {
        color: rgba($color-gray, .7);
    }
    
}

.testimonials-card-tertiary {
    background-color: $color-tertiary;
    color: $color-gray;
    .user-details {
        &__img {
            border: 2px solid $color-light-gray;
        }
        &__name {
            color: $color-white;
        }
        &__description {
            color: rgba($color-gray, .5);
        }
    }
    .testimonials--text {
        color: rgba($color-gray, .7);
    }
    
}

.testimonials-card-1 {
    @include respondTo('desktop') {
        grid-row:  row-start 1 / row-end 1;
        grid-column: col-start 1 / col-end 2;
    }
}

.testimonials-card-2 {
    @include respondTo('desktop') {
        grid-row: row-start 1 / row-start 1;
        grid-column: col-start 3 / col-end 3;
    }
}

.testimonials-card-3 {
    @include respondTo('desktop') {
        grid-row: row-start 2 / row-end 2;
        grid-column: col-start 1 / col-end 1;
        
    }
}

.testimonials-card-4 {
    @include respondTo('desktop') {
        grid-row: row-start 2 / row-end 2;
        grid-column: col-start 2 / col-end 3;
    }
}

.testimonials-card-5 {
    @include respondTo('desktop') {
        grid-row: row-start 1 / row-end 2;
        grid-column: col-start 4 / col-end 4;
    }
}
.attribution {
    font-size: 11px; text-align: center;
    a {
        color: hsl(228, 45%, 44%);
    }
}