// Primary
$color-primary: hsl(263, 55%, 52%);
$color-secondary: hsl(217, 19%, 35%);
$color-tertiary: hsl(219, 29%, 14%);
// Neutral
$color-gray: hsl(210, 46%, 95%);
$color-light-gray: hsl(0, 0%, 81%);
$color-white: hsl(0, 0%, 100%);
